{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-export-namespace-from",
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ]
}
