{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src"
                }
            }
        ],
        "react-native-reanimated/plugin",
        "@babel/plugin-proposal-export-namespace-from"
    ]
}
